flask==2.0.1
werkzeug==2.0.1
markupsafe==2.0.1
tensorboard==2.11.0 
torch==1.11.0
torchvision==0.12.0
numpy
pandas
pillow
scikit-learn
matplotlib
tqdm
opencv-python
scipy
wandb
albumentations
timm
einops
pytorch-lightning
torchmetrics
psutil==5.9.5
gputil==1.4.0